@charset "utf-8";
/* CSS Document */

html, body{
	background:white;
	font-family:helvetica, arial, sans-serif;
	font-size:14px;
	height:100%;
	margin:0; 
	padding:0;
	}

/* Classes Start Here*/
.article{
	background-color:transparent;
	}

.article h2{
	font-family:Adobe Gothic Std B;
	font-weight:bold;
	font-size:26px;
	}	
	
.block_separator{
	width:100%; 
	height:1.5px; 
	background-color:black; 
	opacity:.8;
	}

.date_time{
	font-size:12px; 
	}
	
.hide{
	display:none;
}

.project h2{
	font-family:Adobe Gothic Std B;
	font-weight:bold;
	font-size:26px;
	padding-top:10px;
	}
	
.project img{
	float:left; 
	padding-bottom:5px;
	padding-right:20px;
	width:250px; 
	height:189px;
	}
	
.quote{
	font-family:Adobe Caslon; /*Bradley Hand ITC;*/
	width:100%;
	background-color:beige;
	opacity:0.7;
	font-size:28px;
	text-align:center;
	padding-top:0pc;
	}

.scroll_top{
	position:fixed;
	bottom:5px;
	left:5px;
	z-index:1;
	}
	
.selected_navbar_link{
	background-color:beige;
	color:maroon;
	}

.show{
	display:block;
}

.truncate{
	}
/*Classes End Here*/

/* ID's Start Here*/		
#about_me{
	font-size: 14px;
}

#contact_navbar ul{
	margin:0;
	padding: 0.3pc;
	list-style-type: none;
	text-align:left;
	word-spacing:1em;
	}

#contact_navbar ul li{
	display:inline;
	padding:7px;
	}
	
#footer{
	position:absolute;
	bottom:0;
	height: 35px;
	width:100%;
	margin-top:30px;
	background-color:#369;	
	text-align:center;
	font-size:10px;
	color:#FFF;
}

#footer a{
	text-decoration:underline;
	color:#FFF;
	}		

#footer_border{
	border-top: 1px solid #000;
	opacity: 0.3;
	}
	
#header{
	text-align:center; 
	font-weight:bold; 
	font-family:Lucida Bright; 
	font-size:60px;
	line-height:1em;
	width:100%;
	}
	
#header a{
	text-decoration:none;
	color:#000;
	}		
	
#innerwrapper{
	float:none;
	position:relative;
	margin:0px auto;
	width:650px;
	padding-bottom:40px;
	}	
	
#navbar ul{
	margin:0;
	padding: 6pc;
	padding-bottom:0pc;
	list-style-type: none;
	text-align:center;
	font-family:Lucida Bright;
	font-size:24px;
	font-weight:bold;
	word-spacing:1em;
	}

#navbar ul li{
	display:inline;
	}

#navbar ul li a{
	text-decoration:none;
	padding: .2em .6em;
	color:black;
	}

#navbar ul li a:hover{
	background-color:beige;
	color:maroon;
	}

#navbar_hr{
	border: 2px solid #7D4600;
	width:600px;
	opacity:0.7;
	}
	
#outerwrapper{
	min-height:100%;
	margin:0 auto;
	position:relative;
}

#sidebar{
	float:left;
	clear:both;
	position:relative;
	left:0;
	margin:0px auto;
	max-width:250px;
	padding-left:10px;
	padding-right:10px;
	}
/* ID's End Here*/