THIS IS A ARCHIVE FOR ALL THE TEMPLATES FOR ARTICLES PAGE.

<!-- TEMPLATE FOR ARTICLE.
<div id="article#" class="article">
	<h2> # </h2>
	<span style="font-size:14; line-height:0em;">Posted on: MM/DD/YYYY ,HH:MM AM/PM </span>
	<p> Article Content goes here </p>
	<hr style="width:100%; height:4px; background-color:black; opacity:.7">
</div> 
-->